
<div class="container">

  <div class="jumbotron">
    <h1>Yang and Friends</h1>
    <p>A somewhat self-endulgent collection of our thoughts.</p>
  </div>

  <div class="row" id="pinned-posts">
    <h4>Featured Posts</h4>
    <div class="col-sm-6">
      <h3>Blogpost 1</h3>
      <p>Insert Date from DB</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      <div class="image-container"> <img src="http://floridapolitics.com/wp-content/uploads/2015/06/technology.jpg" alt="" class=".img-responsive"> </div>
    </div>
    <div class="col-sm-6">
      <h3>Blogpost 2</h3>
      <p>Insert Date from DB</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>

  <div class="row" id="recent posts">
    <h4>Recent Posts</h4>
    <% @posts.each do |post| %>
      <div class="col-sm-4" style="overflow:scroll; height:400px;">
        <h3><a href="/posts/<%= post['id'] %>"><%=post.heading%></a></h3>
        <p>By <%= post.user.name if post.user %> </p>
        <p><%=post.postdate%></p>
        <p style="text-align: right;">Topic: <%=post.topic%></p>
        <p><%=post.post%></p>
      </div>
    <% end %>
  </div>

</div>
